// Variables
$primary-color: #5193ed; //#5193ed hsl(215, 81%, 62%)
$primary-color-hover: hsla(215, 81%, 62%, .7); //#5193ed
$secondary-color: hsl(103, 35%, 75%);
$text-color: hsl(0, 0%, 20%);
$shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 5px 30px rgba(0, 0, 0, 0.1);
$transition: all 300ms ease-out;
$primary-font: 'Arima', cursive;
$secondary-font: 'Source Sans Pro', sans-serif;
$navHeight: 80px;

// TypeScale
$header1: 3.052rem;
$header2: 2.441rem;
$header3: 1.953rem;
$header4: 1.563rem;
$header5: 1.25rem;
$paragraph: 1rem;

// Mixins
@mixin title($size, $spacing) {
    font-family: $primary-font;
    font-weight: 600;
    color: $primary-color;
    font-size: $size;
    letter-spacing: $spacing;
    text-transform: uppercase;
}

@mixin body($size) {
    font-family: $secondary-font;
    color: $text-color;
    font-weight: 300;
    font-size: $size;
}

@mixin button($color) {
    background-color: $color;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    color: #fff;
    padding: .5rem 2rem;
    width: fit-content;
    transition: $transition;

    &:hover {
        background-color: $secondary-color;
    }

}


// Media Querys
@mixin small-screen {
    @media (max-width: 767.9px) {
        @content;
    }
}

@mixin medium-screen {
    @media (min-width: 768px) and (max-width: 1439.9px) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin xl-screen {
    @media (min-width: 1920px) {
        @content;
    }
}
