@import 'Variables';



.about {
    background-color: $primary-color;
    min-height: 600px;
    display: flex;
    align-items: center;
    background-image: url('../img/SVG/Recurso9.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    opacity: 0;

    h2 {
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
}

    .about-text {
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
    }

    .line {
        width: 0px;
        height: 3px;
        background-color: #fff;
        display: flex;
        justify-self: end;
    }

    @include small-screen {
        min-height: 400px;
        background-image: none;
    }

    @include medium-screen {
        background-size: 40%;
    }

}

.valores {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, auto));
    gap: 1rem;
    color: $primary-color;
    padding: 1rem 0px;
    width: 100%;

    div {
    box-shadow: $shadow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
}

    @include small-screen {
        grid-template-columns: repeat(2, minmax(80px, auto));
    }
}