@import 'Variables';

.banner {
    min-height: 600px;
    background-image: url('../img/SVG/BannerImg.svg');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-top: $navHeight;

    h1, p, a {
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
}

    .button {
        @include button($primary-color);
        margin-top: 1rem;
    }

    @include small-screen {
        background-image: url('../img/SVG/BannerImgMobile.svg');
        background-size: cover;
        background-position: 50%;
        min-height: 500px;
    }

    @include medium-screen {
        background-size: 40%;
    }
}