@import 'Variables';

.banner {
    min-height: 600px;
    background-image: url('../img/SVG/BannerImg.svg');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-top: $navHeight;

    @include small-screen {
        background-image: url('../img/SVG/BannerImgMobile.svg');
        min-height: 500px;
        background-size: cover;
        background-position: 50%;
    }

    @include medium-screen {
        background-size: 40%;
    }
}