@import 'Variables';

.how {

    h2, .how-text {
        opacity: 0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
}

    .line {
        width: 0px;
        height: 3px;
        background-color: $secondary-color;
        display: flex;
        justify-self: end;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 0px;

        .card {
            flex: 0 0 49%;
            max-width: 49%;
            padding: 1rem;
            box-shadow: $shadow;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateY(50px);

            .description {
                height: 50px;
                overflow: hidden;
                transition: $transition;
                margin-bottom: 1rem;

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                }

                &.active {
                    height: auto;

                    p {
                        overflow:unset;
                        text-overflow:unset;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: unset;
                        line-clamp: unset;
                    }
                }


            }

            .button {
                @include button($primary-color);
                margin-top: auto;
                align-self: flex-end;
            }

            @include small-screen {
                flex: 0 0 100%;
                max-width: 100%;
            }


        }
    }

}