@import 'Variables';


.servicios {
    margin-top: $navHeight;
    min-height: 400px;
    background-image: url('../img/SVG/LMConsultingServices.svg');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

    h1 {
        opacity: 0;
        transform: translateX(50px);
    }



    @include small-screen {
        background-image: url('../img/SVG/BannerImgMobile.svg');
        background-size: cover;
        background-position: 50%;
        min-height: 300px;
    }

    @include medium-screen {
        background-size: 40%;
    }
}

.servicios-boxes {

    background-color: $primary-color;

    .box {
        box-shadow: $shadow;
        position: relative;
        width: 100%;
        opacity: 0;
        transform: translateY(50px);
        //width: 49%;
        /* height: fit-content;
        min-height: 140px; */

        .button {
            @include button($primary-color);
            margin-top: 1rem;
        }

        img {
            object-fit: contain;
        }

        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 1rem;
            //cursor: pointer;



            /* &::after {
                content: '\276F';
                font-size: 1.25rem;
                transform-origin: 50%;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transition: $transition;
                -webkit-transition: $transition;
                -moz-transition: $transition;
                -ms-transition: $transition;
                -o-transition: $transition;
            }

            &.rotate {
                &::after {
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                }
            } */
        }

        .box-content {
            height: 175px;
            overflow: hidden;
            padding: 0px 1rem;

            ul {
                list-style-type: circle;
                list-style-position: inside;
            }

            /* p {
                padding-top: 1rem;
            } */

            h5 {
                padding-top: 1rem;
            }

            p {
                padding-top: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;

            }

            &.active {
                height: auto;
                padding-top: 1rem;


                p {

                    overflow:unset;
                    text-overflow:unset;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: unset;
                    line-clamp: unset;

                }
            }

            /* &.active {
                height: auto;
                padding-top: 1rem;
            } */

        }

        @include small-screen {
            //width: 100%;

            .box-content {
                height: 170px;
            }
        }

        /* @include medium-screen {
            width: 48%;
        } */

    }

}

