@import 'Variables';

#servicios {
    scroll-margin-top: 4rem;
}

.line {
    width: 100px;
    height: 3px;
    background-color: $secondary-color;
    display: block;
}

.cards {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    overflow: initial;

    .card {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 1.5rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: $shadow;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;

        img {
            object-fit: contain;
            min-width: 50px;
            min-height: 50px;
        }

        .see-more {
            @include button($primary-color);
            align-self: flex-end;
        }


        /* .title,
        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        .title {
            -webkit-line-clamp: 4;
            line-clamp: 4;
        } */


        &:hover {
            box-shadow: $shadow-hover;
        }
    }

}
@include small-screen {
    .servicios {
        background-image: url('../img/SVG/BannerImgBottomMobile.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .cards {
        justify-content: center;

        .card {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
            gap: 2rem;
            justify-content: center;
        }
    }

}

@include medium-screen {
    .servicios {
        background-image: none;
    }

    .cards {
        justify-content: center;

        .card {
            flex: 0 0 45%;
            max-width: 45%;

        }
    }
}