@import 'Variables';

.servicios {
    margin-top: $navHeight;
    min-height: 400px;
    background-image: url('../img/SVG/LMConsultingServices.svg');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;



    @include small-screen {
        background-image: url('../img/SVG/BannerImgMobile.svg');
        background-size: cover;
        background-position: 50%;
        min-height: 300px;
    }

    @include medium-screen {
        background-size: 40%;
    }
}

.servicios-boxes {

    background-color: $primary-color;

    .box {
        box-shadow: $shadow;
        position: relative;

        .img {
            background-image: url('https://img.icons8.com/external-edtim-outline-edtim/50/b6d6a9/external-headhunting-hr-edtim-outline-edtim-3.png');
            width: 50px;
            height: 50px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 1rem;
            cursor: pointer;



            &::after {
                content: '\276F';
                font-size: 1.25rem;
                transform-origin: 50%;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transition: $transition;
                -webkit-transition: $transition;
                -moz-transition: $transition;
                -ms-transition: $transition;
                -o-transition: $transition;
}

            &.rotate {
                &::after {
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
}
            }
        }

        .box-content {
            height: 0px;
            overflow: hidden;
            padding: 0px 1rem;
            ul {
                list-style-type: circle;
                list-style-position: inside;
            }

            p {
                padding-top: 1rem;
            }

            h5 {
                padding-top: 1rem;
            }

            &.active {
                height: auto;
                padding-top: 1rem;
            }

        }

    }

}

